@import './colors.scss';

.recipe-filtered{
    display: flex;
    min-height: calc(100vh - 260px);
    padding: 0 50px;

    .results{
        margin: 0 auto;

        h3{
            text-align: center;
        }
    }
}