@import '../../styles/colors.scss';

.navSmall{
    position: relative;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 70px;
    margin: 0 auto 50px auto;

    .links{
        margin: auto;
    }

    a{
        margin: 0 20px;
    }
    .search{
        position: absolute;
        right: 40px;
    }
}