.splash{
    display: flex;
    justify-content: center;
    max-width: calc(1116px*1.3);        //image size
    max-height: calc(600px*1.3);        //image size
    margin: auto;
    margin-bottom: 100px;

    .splash-image{
        width: 100%;
        height: 100%;
    }
    .splash-text{
        left: 40px;
        top: 200px;
        font-size: 5rem;
        letter-spacing: 10px;
        position: absolute;
        z-index: 100;

        .subtext{
            font-size: .8rem;
            letter-spacing: 2px;
            line-height: .2rem;
            text-transform: uppercase;

            .underline{
                padding-left: 150px;
                border-bottom: 1px solid #000;
            }
            p{
                padding-left: 160px;
                margin-top: .5rem;
            }
        }
    }

    .splash-social{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        svg{
            margin: 10px;
            font-size: 1.6rem;
        }
    }
}